$body-bg: #fff;

@import "defaults";
@import "_bblg";

// General settings

$primary-color: #006DBC;
$global-radius: 0;

// Body

$body-font-color: #2e2f3e;
$body-font-size: 1.055em;
$body-font-family: "SF Pro Text", "Helvetica", "Liberation Sans", Arial, sans-serif;



// Headings

$header-font-family: "SF Pro Display", "Helvetica", "Liberation Sans", Arial, sans-serif;
$header-font-size: 3.45em;
$header-font-weight: 600;
$header-font-color: #333;
$title-font-color: #333;
$header-top-margin: 1em;
$title-font-weight: $header-font-weight;
$sect-divider-size: 0;

// Panels

$panel-bg: #f3f3f3;

// Paragraphs

$paragraph-font-family: $body-font-family;
$paragraph-font-weight: 200;
$paragraph-font-size: .99em;
$paragraph-margin-bottom: emCalc(22px);
$paragraph-line-height: 1.25;

// Links

$anchor-font-color-hover: #ea0011;
$anchor-text-decoration-hover: underline;

// Inline Code

$code-font-family: Inconsolata, Menlo, Monaco, 'Liberation Mono', Consolas, monospace;
$code-font-size: emCalc(15px);
$code-color: #3b3b3b;
$code-font-weight: normal;
$code-padding: 1px 4px;
$code-border-color: #d4d9d9;
$code-border-size: 1px;
$code-bg-color: #eff1f1;

// Code Blocks

$pre-bg: $code-bg-color;
$pre-font-family: $code-font-family;
$pre-font-color: $code-color;
$pre-font-size: emCalc(14px);
$pre-border-color: rgba(120, 120, 120, 0.35);
$pre-border-size: 0 0 0 2px;
$pre-padding: emCalc(16px) emCalc(24px) emCalc(14px) emCalc(24px);

// Block Quotes

//$blockquote-font-color: #999;
$blockquote-font-color: $body-font-color;
$blockquote-border: 5px solid #ededed;
$blockquote-padding: 0 0 0 1em;

// Ruler

//$hr-border-width: 2px;
//$hr-border-color: #eff1f1;

// Lists

$list-side-margin: emCalc(26px);
$definition-list-content-margin-left: 2em;

// Tables

$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-line-height: $paragraph-line-height;

// Footer

$footer-font-size: .74em;
$footer-bg: white;
$footer-font-color: #c6c6c6;